@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px 5px;
    background: linear-gradient(135deg, #f59930, #885ef1);
}

nav{
    display: flex;
    align-items: center;
}

#btn{
    cursor: pointer;
}

.logo{
    width: 110px;
    height: auto;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}

.searcher input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: black;
    padding: 9px 10px;
    width: 300px;
    border: 2px solid black;
}

.filter{
    height: 30px;
    padding: 10px;
}

.filter{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1.5em;
}

.filter a{
    padding: 5px 5px;
   /* margin: 15px;
    left: 35%;
    position: relative;
    justify-content: center;
    align-self: center;*/
    border-radius: 5px;
    background-color: rgb(199, 197, 197);
    border: black;
    min-width: fit-content;
    max-width: 100px;
}

.filter a:hover{
    background: linear-gradient(135deg, #f59930, #885ef1);
}

.headerLevel{
    height: 2px;
    background-color: #18005c;
    width: 100%;
    margin: 0 auto;
}

/*
.logo{
    width: 140px;
    height: auto;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    float: left;
    right: 1180px;
    position: absolute;
    bottom: 10px;
    top: 2px;
}
*/
body {
    background-color: #dbdad9;
    overflow: hidden;
}

.content {
    width: 100%;
    display: flex;
}

aside{
    width: 15%;
    background-color: white;
    position: relative;
    float: left;
}

.sidebar{
    padding-top: 0.3rem;
    width: 100%;
    height: 92vh;
    overflow: auto;
}

.items{
    display: flex;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0.2rem;
}

.items p{
    text-transform: capitalize;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.home{
    font-weight: 500;
}

li, a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

/*
.searcher input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: black;
    padding: 9px 10px;
    position: relative;
    right: 400px;
    top: 3px;
    width: 300px;
    border: 2px solid black;
}*/


.cta{
    padding: 9px 15px;
    background-color: #591deb;
    border: transparent;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
     font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.cta:hover {
    background-color: #ff7f62;
}

/*
button {
    padding: 9px 15px;
    background-color: #591deb;
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
    top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
*/


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.container{
    width: 100%;
    height: 300px;
    margin: 10px auto;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subContainer{
    position:relative;
    width: 350px;
    height: 350px;
}

.subContainer .text{
    position: relative;
    max-width: 33ch;
    margin: 10px auto;
    float: center;
}

.subContainer .text h1{
    cursor: pointer;
    font-size: 14px;
}

.container .box{
    position: relative;
    width: calc(350px - 30px);
    height: calc(250px - 30px);
    background-color: white;
    float: right;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}


